<header class="main-header">
<!-- <header class="main-header" style="background-image: url(assets/img/img_bg_header.jpg); background-position: top;"> -->
  <div class="container">
    <div class="row personal-profile">
      <div class="col-md-4 personal-profile__avatar">
        <!-- img class="" src="https://scontent.fbud5-1.fna.fbcdn.net/v/t1.0-9/20707964_10211648211218658_3342036045020729881_n.jpg?oh=013c79485868b8ee7cb0ada1368ca82a&oe=5A431D7D" alt="avatar" -->
        <img class="" src="assets/img/logo.png" alt="avatar">
      </div>
      <div class="col-md-8">
        <p class="personal-profile__name">{{ site.name }}</p>
        <p class="personal-profile__work">{{ site.work }}</p>
        <div class="personal-profile__contacts">
          <dl class="contact-list contact-list__opacity-titles">
            {% include contact-info.html %}
          </dl>
        </div>
      </div>
    </div>
  </div>
</header>
