<section id="hello" class="container section">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h2 id="hello_header" class="section__title">Bemutatkozás</h2>
      <p class="section__description">
       Jogi diplomámat 2012-ben szereztem a Pázmány Péter Katolikus Egyetem Jog- és Államtudományi Karán. A jogi szakvizsga letételéig, 2017 nyaráig a dr. Nagy Dániel Ügyvédi Iroda munkáját segítettem ügyvédjelöltként. Azóta egyéni ügyvédként dolgozom elsősorban a klasszikus értelemben vett polgári jog területén.
      </p>
      <!-- <a href="" class="section_btn site-btn"><img src="assets/img/img_btn_icon.png" alt="">Download CV</a> -->
    </div>
  </div>
</section>
