<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Inconsolata" rel="stylesheet">
  <link href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="57x57" href="assets/img/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/img/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/img/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/img/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/img/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/icons/favicon-16x16.png">
</head>

<body>

  <!--Main menu-->
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="menu__wrapper d-none d-lg-block col-md-12">
          <nav class="">
            <ul>
              <li><a href="#hello">Bemutatkozás</a></li>
              <li><a href="#hello">Szolgáltatások</a></li>
              <li><a href="#contact">Kapcsolat</a></li>
            </ul>
          </nav>
        </div>
        <div class="menu__wrapper col-md-12 d-lg-none">
          <button type="button" class="menu__mobile-button">
            <span><i class="fa fa-bars" aria-hidden="true"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--Main menu-->

  <!-- Mobile menu -->
  <div class="mobile-menu d-lg-none">
    <div class="container">
      <div class="mobile-menu__close">
        <span><i class="mdi mdi-close" aria-hidden="true"></i></span>
      </div>
      <nav class="mobile-menu__wrapper">
        <ul>
          <li><a href="#hello">Bemutatkozás</a></li>
          <li><a href="#hello">Szolgáltatások</a></li>
          <li><a href="#contact">Kapcsolat</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- Mobile menu -->

  <!--Header-->
  {% include header.html %}
  <!--Header-->


  <!--Hello-->
  {% include hello.html %}
  <!--Hello-->


  <!--Testimonials-->
  <!-- {% include testimonials.html %} -->
  <!--Testimonials-->


  <!-- Services -->
  {% include services.html %}
  <!-- Services -->



  <!--Resume-->
  <!-- {% include resume.html %} -->
  <!--Resume-->


  <!--Portfolio-->
  <!-- {% include portfolio.html %} -->
  <!--Portfolio-->


  <!-- Portfolio Modal -->
  <!-- {% include portfolio-modal.html %} -->
  <!-- Portfolio Modal -->


  <!--Testimonials-->
  <!-- {% include testimonials.html %} -->
  <!--Testimonials-->


  <!--Blog-->
  <!-- {% include blog-preview.html %} -->
  <!--Blog-->


  <!--Contact-->
  {% include contact.html %}
  <!--Contact-->

  <script src="assets/js/jquery-2.2.4.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/menu.js"></script>
  <script src="assets/js/jquery.waypoints.js"></script>
  <script src="assets/js/section.js"></script>
  <script src="assets/js/slider-carousel.js"></script>
  <script src="assets/js/mobile-menu.js"></script>
  <script src="assets/js/contacts.js"></script>
  <script src="assets/js/mbclicker.min.js"></script>
  <script src="assets/js/site-btn.js"></script>
</body>

</html>
